.cta{
    width:100%;
    padding:120px 8%;
    background:linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),
    url("../assets/images/hero.png") center/cover no-repeat;
    text-align:center;
}

.cta-overlay h4{
    color:#C85A0A;
    font-size:18px;
    letter-spacing:4px;
    margin-bottom:20px;
}

.cta-overlay h2{
    color:#fff;
    font-size:52px;
    line-height:1.3;
    margin-bottom:25px;
}

.cta-overlay p{
    color:#ddd;
    max-width:750px;
    margin:auto;
    line-height:1.9;
    font-size:18px;
}

.cta-btn{
    margin-top:40px;
    background:#C85A0A;
    color:white;
    border:none;
    padding:18px 40px;
    border-radius:50px;
    font-size:18px;
    cursor:pointer;

    display:inline-flex;
    align-items:center;
    gap:12px;

    transition:.3s;
}

.cta-btn:hover{
    background:#E67E22;
    transform:translateY(-5px);
    box-shadow:0 15px 30px rgba(200,90,10,.35);
}

@media(max-width:768px){

.cta{
    padding:90px 5%;
}

.cta-overlay h2{
    font-size:36px;
}

.cta-overlay p{
    font-size:16px;
}

}